// SEC_GLOBAL

.truncate {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}


// SEC_POPUP

#popup-root {
   min-width: 550px;
   font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Arial, sans-serif;

   .extension {
      .header {
         margin: 1rem 0;
         display: flex;
         justify-content: space-between;
         align-items: baseline;
         
         .workspace-select {
            cursor: pointer;
            border: none;
            font-weight: bold;
            font-size: 1.25rem;

            &:hover {
               color: #777;
            }
         }

         .tagged-cont {
            display: none;
         }
         
         .sync {
            transition: 0.2s;
            width: 1.5rem;
            cursor: pointer;
            position: relative;
            top: 7px;

            &:hover {
               transform: rotate(25deg);
               opacity: 0.7;
            }
         }
      }

      .task-list {
         .task {
            border-bottom: 1px solid #e1e2e4;
            border-top: 2px solid transparent;
            font-size: 0.8rem;
            display: flex;
            align-content: center;
            justify-content: space-between;
            padding: 0.4rem 0;
            cursor: pointer;
            opacity: 1.0;
            box-sizing: border-box;

            &.completed {
               display: none;
            }

            .check-and-name {
               margin-left: 4px;

               .check {
                  border: 1px solid #b9bcc0;
                  border-radius: 50%;
                  cursor: pointer;
                  fill: #cdcfd2;
                  height: 1.1rem;
                  width: 1.1rem;
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 10px;

                  svg {
                     margin: 0 auto;
                     height: 0.8rem;
                     width: 0.8rem;                  
                  }
               }
               
               .name {

               }

            }   

            .task-info {
               .pill {
                  @extend .truncate;
                  background: #f8f8f9;
                  border: 1px solid #e1e2e4;
                  color: #676d76;
                  font-size: 0.7rem;
                  font-weight: bold;
                  border-radius: 8.5px;
                  padding: 5px 10px;
                  display: inline-block;
                  max-width: 4rem;
                  margin-right: 0.5rem;

                  &:last-child {
                     margin-right: 0;
                  }
               }

               .project {
                  
               }
            }

            &.section {
               font-size: 1rem;
               font-weight: 600;
               line-height: 1rem;
               align-items: flex-end;
               padding: 0.95rem 0 0.35rem;

               .check-and-name {
                  .check {
                     display: none;

                  }
               }

               .task-info {
                  display: none;
               }
            }

            &:hover, &:focus, &:active {
               background: #f8f8f8;
            }

            &:first-child {
               // padding-top: 0;
               // border-top: 1px solid #e1e2e4;
            }

            &:last-child {
               // padding-bottom: 0;
               border-bottom: none;
            }
         }
      }
   }
}